pandas
numpy 
seaborn
matplotlib
scikit-learn 
catboost
xgboost
dill
Flask
#-e . ## when we try to install above or run req.txt DIRECLTY setup.py will be excuted or run
## WHEN YOU WANT TO INSTALL REQIREMENTS LIKE PANDAS COMMENT DOWN #-E BECAUSE WE NOT NEED ACCESS SETUP